@media (max-width: 48em) {
  html {
    /* 8/16=0.5 = 50% */
    font-size: 50%;
  }
}
@media (max-width: 38em) {
  body {
    background-color: #5ca4de;
    background-image: none;
    margin-top: 3rem;
  }
  .pagina {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }
  .placar {
    order: -1;
  }
  .gokuzinho {
    order: 2;
  }
}
