@media (max-width: 50em) {
  html {
    /* 8/16=0.5 = 50% */
    font-size: 40%;
  }
  body {
    background: linear-gradient(#bfcdd8, #5ca4de);
    /* background-image: none; */
    margin-top: 3rem;
  }
}
@media (max-width: 38em) {
  html {
    /* 8/16=0.5 = 50% */
    font-size: 65%;
  }
  .pagina {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .placar {
    grid-row: 1;
  }
  .box-gokuzinho {
    grid-row: 3;
  }
}
@media (max-width: 25em) {
  html {
    /* 8/16=0.5 = 50% */
    font-size: 50%;
  }
} ;
